.notification {
    display: none;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #03100a;
    color: #fffffc;
    padding: 10px 30px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease-out;
}
.notification.hide {
    opacity: 0;
}

@media screen and (min-width: 431px) {
    .notification {
        font-size: 12px;
    }
}